<?xml version="1.0"?>
<config>
    <modules>
        <Devils_HomeWidget>
            <version>0.1.0</version>
        </Devils_HomeWidget>
    </modules>
    <global>
        <models>
            <devils_homewidget>
                <class>Devils_HomeWidget_Model</class>
                <resourceModel>devils_homewidget_resource</resourceModel>
            </devils_homewidget>
            <devils_homewidget_resource>
                <class>Devils_HomeWidget_Model_Resource</class>
                <entities>
                    <image>
                        <table>devils_homewidget_image</table>
                    </image>
                    <image_store>
                        <table>devils_homewidget_image_store</table>
                    </image_store>
                </entities>
            </devils_homewidget_resource>
        </models>
        <resources>
            <devils_homewidget_setup>
                <setup>
                    <module>Devils_HomeWidget</module>
                    <class>Devils_HomeWidget_Model_Resource_Setup</class>
                </setup>
            </devils_homewidget_setup>
        </resources>
        <helpers>
            <devils_homewidget>
                <class>Devils_HomeWidget_Helper</class>
            </devils_homewidget>
        </helpers>
        <blocks>
            <devils_homewidget>
                <class>Devils_HomeWidget_Block</class>
            </devils_homewidget>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Devils_HomeWidget after="Mage_Adminhtml">Devils_HomeWidget_Adminhtml</Devils_HomeWidget>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <devils_homewidget>
                    <file>devils/homewidget.xml</file>
                </devils_homewidget>
            </updates>
        </layout>
    </adminhtml>
</config>
